rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /stats/{repo} {
      allow list: if request.auth.uid != null;
    }
  }
}